@charset "utf-8";
body {
	background: ghostwhite;
	margin: 0;
	width: 100%;
	height: 100%;
	top: 0px;
}
header {
	position: fixed;
	background: #d45f31;
	display: block;
	top: 0px;
	left: 0px;
	z-index: 100;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	height: 3em;
	width: 100%;
}
header > h1 {
	display: block;
	margin-top: 5px;
	float: left;
	font-size: 1.75em;
	margin-left: 1em;
}
header > a {
	float: right;
	margin-top: 0.75em;
	margin-right: 1em;
	/* [disabled]cursor: pointer; */
}

#menu {
	background: #002f46;
	position: fixed;
	top: 0px;
	right: -14em;
	width: 14em;
	height: 100%;
	z-index: 150;
	-webkit-transition: -webkit-transform 0.5s ease;
	-moz-transition: -moz-transform 0.5s ease;
	-o-transition: -o-transform 0.5s ease;
	transition: transform 0.5s ease;
}

#menu:target {
	-webkit-transform: -webkit-translateX(-14em);
	-moz-transform: translateX(-14em);
	-o-transform: translateX(-14em);
	transform: translateX(-14em);
	display: block;
}
#menu ul  {
	list-style: none;
	padding: 0 2em 0 2em;
}
#menu ul > li  {
	border-top: solid 1px rgba(0,0,0,0.33);
	padding-top: 0.5em;
	margin-top: 0.5em;
}
#menu ul > li:first-child{
	border-top: 0;
	padding: 0;
	margin: 0;
}
#menu ul > li > a {
	border: 0;
	color: #d45f31;
	display: block;
	outline: 0;
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
	text-decoration: none;
	text-transform: uppercase;
}


@media screen and (max-width:1280px) {
}
/*
Below is the syntax for adding values to the box shadow property 
box-shadow: none|h-shadow v-shadow blur spread color |inset|initial|inherit;
*/

.boxShadow {
	/*Chrome, Safari*/
	-webkit-box-shadow: 6px 6px 12px 8px #ebebeb;
	/*Firefox*/
	-moz-box-shadow: 4px 4px 6px 7px #ebebeb;
	/*Standard Syntax*/
	box-shadow: 6px 6px 14px 6px #ebebeb;
}
.textShadow {
	font: bold 60px arial, sans-serif;
	background-color: #565656;
	color: transparent;
	text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
	/*Chrome, Safari*/
	-webkit-background-clip: text;
	/*Firefox*/
	-moz-background-clip: text;
	/*Standard Syntax*/
	background-clip: text;
}
