/* Reset */

html, body {
    height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* Bandeau avertissement*/
#announcements-container-wrapper {
    position: relative;
    height: 40px;
    background: rgba(255, 52, 7, 0.95);
    margin: 0;
    padding: 0;
}

#announcements-container {
    padding: 10px 40px;
    height: 20px;
}

#announcements-container-message {
    float: left;
    width: 90%;
    font-variant: small-caps;
    color: ghostwhite;
}

#announcements-container-button {
    float: right;
    margin-right: 20px;
}

/* Basic */

body {
    background: ghostwhite;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

body, input.mat, select.mat, textarea {
    color: #fff;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: 400;
    letter-spacing: 0.075em;
    line-height: 1.65em;
}

@media screen and (max-width: 1680px) {

    body, input.mat, select.mat, textarea {
        font-size: 10pt;
    }

}

@media screen and (max-width: 1280px) {

    body, input.mat, select.mat, textarea {
        font-size: 9pt;
    }

}

@media screen and (max-width: 736px) {

    body, input.mat, select.mat, textarea {
        font-size: 8pt;
        letter-spacing: 0.0375em;
    }

}

a {
    -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    transition: color 0.2s ease, border-bottom-color 0.2s ease;
    border-bottom: dotted 1px;
    color: inherit;
    text-decoration: none;
}

a:hover {
    border-bottom-color: transparent;
}

strong, b {
    color: #fff;
    font-weight: 600;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.225em;
    line-height: 1em;
    margin: 0 0 1em 0;
    /*text-transform: uppercase;*/
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 1.35em;
    line-height: 1.75em;
}

@media screen and (max-width: 736px) {

    h2 {
        font-size: 1.1em;
        line-height: 1.65em;
    }

}

h2 {
    font-size: 1.35em;
    line-height: 1.75em;
}

@media screen and (max-width: 736px) {

    h2 {
        font-size: 1.1em;
        line-height: 1.65em;
    }

}

h3 {
    font-size: 1.15em;
    line-height: 1.75em;
}

@media screen and (max-width: 736px) {

    h3 {
        font-size: 1em;
        line-height: 1.65em;
    }

}

h4 {
    font-size: 1em;
    line-height: 1.5em;
}

h5 {
    font-size: 0.8em;
    line-height: 1.5em;
}

h6 {
    font-size: 0.7em;
    line-height: 1.5em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

hr {
    border: 0;
    border-bottom: solid 2px #fff;
    margin: 3em 0;
}

hr.major {
    margin: 4.5em 0;
}

blockquote {
    border-left: solid 4px #fff;
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
}

code {
    background: rgba(144, 144, 144, 0.25);
    border-radius: 3px;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    letter-spacing: 0;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

pre code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* Header */

#header {
    -moz-transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    background: #d45f31;
    height: 3em;
    left: 0;
    line-height: 3em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#header h1 {
    -moz-transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    position: absolute;
    top: 0;
    color: black;
    letter-spacing: 0;
}

#header h1 a {
    border: 0;
    display: block;
    height: inherit;
    line-height: inherit;
}

@media screen and (max-width: 736px) {

    #header h1 a {
        font-size: 0.8em;
    }

}

#header nav {
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 0;
    top: 0;

}

#header nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

#header nav > ul > li {
    display: inline-block;
    padding: 0;
}

#header nav > ul > li > a {
    border: 0;
    color: #333;
    display: block;
    font-size: 0.8em;
    letter-spacing: 0;
    padding: 0 1.5em;
    text-transform: uppercase;
}

#header nav > ul > li > a > span {
    font-weight: 700;
    padding-right: 0.5em;
}

#header nav > ul > li > a.menuToggle {
    outline: 0;
    position: relative;
}

#header nav > ul > li > a.menuToggle:after {
    background-image: url("https://bdw1.univ-lyon1.fr/p1506340/bataille_navale/jeu/images/menu-toogle.png");
    background-position: right center;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 3.6em;
    vertical-align: top;
    width: 2em;
}

@media screen and (max-width: 736px) {

    #header nav > ul > li > a.menuToggle {
        padding: 0 1.5em;
    }

    #header nav > ul > li > a.menuToggle span {
        display: none;
    }

}

@media screen and (max-width: 736px) {

    #header nav > ul > li > a {
        padding: 0 0 0 1.5em;
    }

}

#header nav > ul > li:first-child {
    margin-left: 0;
}

#header.alt {
    background: transparent;
}

#header.alt h1 {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    opacity: 0;
}

/* CTA */

#cta .inner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    max-width: 45em;
}

#cta .inner header {
    -moz-order: 1;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    padding-right: 3em;
    width: 70%;
}

#cta .inner header p {
    color: inherit;
}

#cta .inner .actions {
    -moz-order: 2;
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    width: 30%;
}

@media screen and (max-width: 980px) {

    #cta .inner {
        display: block;
        text-align: center;
    }

    #cta .inner header {
        padding-right: 0;
        width: 100%;
    }

    #cta .inner .actions {
        margin-left: auto;
        margin-right: auto;
        max-width: 20em;
        width: 100%;
    }

}

@media screen and (max-width: 736px) {

    #cta .inner .actions {
        max-width: none;
    }

}

/* Main */

#main {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
}

#main > section {
    padding: 40px;
}

#main > header {
    padding: 6em 0 3em 0;
    /*
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("http://redsky.fr/picts/galerie/uploaded/2016-07-31/15-42-56-dda05178f25caf9d994a-pict.png");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("http://redsky.fr/picts/galerie/uploaded/2016-07-31/15-42-56-dda05178f25caf9d994a-pict.png");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("http://redsky.fr/picts/galerie/uploaded/2016-07-31/15-42-56-dda05178f25caf9d994a-pict.png");
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("http://redsky.fr/picts/galerie/uploaded/2016-07-31/15-42-56-dda05178f25caf9d994a-pict.png");
    */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#main > header h2 {
    font-size: 1.75em;
    margin: 0 0 0.5em 0;
}

#main > header p {
    color: inherit;
    letter-spacing: 0.225em;
    text-transform: uppercase;
    top: 0;
}

#main > header p a {
    color: inherit;
}

body.is-mobile #main > header {
    background-attachment: scroll;
}

/* Menu */

#menu {
    -moz-transform: translateX(20em);
    -webkit-transform: translateX(20em);
    -ms-transform: translateX(20em);
    transform: translateX(20em);
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    -webkit-overflow-scrolling: touch;
    background: #002f46;
    color: #ffffff;
    height: 100%;
    max-width: 80%;
    overflow-y: auto;
    padding: 3em 2em;
    position: fixed;
    right: 0;
    top: 0;
    width: 20em;
    z-index: 10002;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu ul > li {
    border-top: solid 1px rgba(0, 0, 0, 0.125);
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0;
}

#menu ul > li:first-child {
    border-top: 0 !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

#menu ul > li > a {
    border: 0;
    color: inherit;
    display: block;
    font-size: 0.8em;
    letter-spacing: 0.225em;
    outline: 0;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (max-width: 736px) {

    #menu ul > li > a {
        line-height: 3em;
    }

}

#menu .close {
    background-image: url("images/close.svg");
    background-position: 4.85em 1em;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    display: block;
    height: 3em;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
    width: 7em;
}

@media screen and (max-width: 736px) {

    #menu {
        padding: 3em 1.5em;
    }

}

body.is-menu-visible #page-wrapper {
    opacity: 0.35;
}

body.is-menu-visible #page-wrapper:before {
    display: block;
}

body.is-menu-visible #menu {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
#menu {
    -moz-transform: translateX(20em);
    -webkit-transform: translateX(20em);
    -ms-transform: translateX(20em);
    transform: translateX(20em);
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    -webkit-overflow-scrolling: touch;
    background: #002f46;
    color: #ffffff;
    height: 100%;
    max-width: 80%;
    overflow-y: auto;
    padding: 3em 2em;
    position: fixed;
    right: 0;
    top: 0;
    width: 20em;
    z-index: 10002;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu ul > li {
    border-top: solid 1px rgba(0, 0, 0, 0.125);
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0;
}

#menu ul > li:first-child {
    border-top: 0 !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

#menu ul > li > a {
    border: 0;
    color: inherit;
    display: block;
    font-size: 0.8em;
    letter-spacing: 0.225em;
    outline: 0;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (max-width: 736px) {

    #menu ul > li > a {
        line-height: 3em;
    }

}

#menu .close {
    background-image: url("images/close.svg");
    background-position: 4.85em 1em;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    display: block;
    height: 3em;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
    width: 7em;
}

@media screen and (max-width: 736px) {

    #menu {
        padding: 3em 1.5em;
    }

}

body.is-menu-visible #page-wrapper {
    opacity: 0.35;
}

body.is-menu-visible #page-wrapper:before {
    display: block;
}

body.is-menu-visible #menu {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}




/* Landing */

body.landing #page-wrapper {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
}

body.landing #footer {
    background-color: rgba(29, 36, 42, 0.9);
}

body.is-mobile.landing #page-wrapper {
    background: none;
}

body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

body.is-mobile.landing #footer {
    background-color: #1d242a;
}
