@charset "utf-8";

/* Base */
body {
	position: absolute;
	display: block;
	background: ghostwhite;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
header {
	display: block;
	position: fixed;
	background: #d45f31;
	top: 0;
	left: 0;
	z-index: 100;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	height: 3em;
	width: 100%;
}
header > h1 {
	display: block;
	margin: 0.3em 0 0 0.5em;
	padding: 0;
	float: left;
	font-size: 1.5em;
	font-variant: small-caps;	
}
header > a {
	float: right;
	margin: 0.8em 1em 0 0;
	padding: 0;
}

main {
	position: absolute;
	display: block;
	width: 100%;
	height: auto;
	margin: 3em 0 0 0;
	padding: 0;
}

#menu {
	position: fixed;
	display: block;
	background: #002f46;
	top: 0;
	right: -14em;
	width: 14em;
	height: 100%;
	z-index: 150;
	-webkit-transition: -webkit-transform 0.5s ease;
	-moz-transition: -moz-transform 0.5s ease;
	-o-transition: -o-transform 0.5s ease;
	transition: transform 0.5s ease;
}
#menu:target {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}
#menu ul  {
	list-style: none;
	padding: 0 2em 0 2em;
}
#menu ul > li  {
	border-top: solid 1px rgba(0,0,0,0.33);
	padding-top: 0.5em;
	margin-top: 0.5em;
}
#menu ul > li:first-child{
	border-top: 0;
	padding: 0;
	margin: 0;
}
#menu ul > li > a {
	border: 0;
	color: #d45f31;
	display: block;
	outline: 0;
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}


@media screen and (max-width:1280px) {

}

/* Register */
@-webkit-keyframes color_change {
	0%{background: limegreen;}
	33%{background: cyan;}
	66%{background: deeppink;}
	100%{background: crimson;}
}
@-moz-keyframes color_change {
	0%{background: limegreen;}
	33%{background: cyan;}
	66%{background: deeppink;}
	100%{background: crimson;}
}
@-o-keyframes color_change {
	0%{background: limegreen;}
	33%{background: cyan;}
	66%{background: deeppink;}
	100%{background: crimson;}
}
@keyframes color_change {
	0%{background: limegreen;}
	33%{background: cyan;}
	66%{background: deeppink;}
	100%{background: crimson;}
}
.register {
	position: relative;
	display: block;
	background: silver;
	margin: 4em 20% 0 20%;
	padding: 1em;
	/*border: solid 2px crimson;*/
	border-radius: 0.2em;
	font-family: Comic Sans MS, sans-serif;
	-webkit-animation: color_change linear 1s infinite alternate;
	-moz-animation: color_change linear 1s infinite alternate;
	-o-animation: color_change linear 1s infinite alternate;
	animation: color_change linear 1s infinite alternate;
}

.register > span {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}
.register >

