@charset "utf-8";

/* Base */
body {
    position: absolute;
    display: block;
    background: ghostwhite;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
header {
    display: block;
    position: fixed;
    background: #d45f31;
    top: 0;
    left: 0;
    z-index: 100;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    height: 3em;
    width: 100%;
}
header > h1 {
    display: block;
    margin: 0.3em 0 0 0.5em;
    padding: 0;
    float: left;
    font-size: 1.5em;
    font-variant: small-caps;
}
header > a {
    float: right;
    margin: 0.8em 1em 0 0;
    padding: 0;
}

main {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    margin: 3em 0 0 0;
    padding: 0;
}

.player {
    color: black;
    font-family: sans-serif;
    font-size: 100%
}

.tag {
    color: gray;
    font-family: sans-serif;
    font-size: 75%;
}
.dialog{
    background: rgba(0,0,0,0.33);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 5000;
}
.dialog > main {
    background: ghostwhite;
    position: absolute;
    width: 64%;
    height: 20em;
    margin: 8em 0 0 18%;
    padding: 0;
    border-radius: 1em;
    font-size: 0.75em;
    font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial, sans-serif;
}
.dialog > main > header {
    background: darkorange;
    position: relative;
    width: auto;
    height: 4em;
    border-radius: 1em 1em 0 0;
}
.dialog > main > header > h1 {
    margin: 0.2em;
    padding: 0;
    font-variant: normal;
}
.dialog > main > p {
    display: inline;
    margin: 0;
    padding: 0;
}


/* GRID */
#player {
    color: black;
    font-family: sans-serif;
    font-size: 1em;
}

#tag {
    color: gray;
    font-family: sans-serif;
    font-size: 0.75em;
}

.me {
    position: absolute;
    margin: 5em 0 0 2em;
}

.ennemy {
    position: relative;
    float: right;
    margin: 5em 2em 0 0;
}

.upper-side {
    position: absolute;
    width: 100%;
    margin: 0 2em 0 2em;
    height: 5em;
}

.upper-side > span {
    position: inherit;
    margin: 0.75em 0 0 0;
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
    text-align: center;
    width: 100%;
}

.bottom-side {
    position: absolute;
    width: 100%;
    margin: 30em 2em 0 2em;
    height: 20em;
}

.bottom-side > span {
    position: relative;
    margin: 4em 0 2em 0;
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
    text-align: center;
    width: 100%;
}

.bottom-side input {
    background-color: steelblue;
    font-family: sans-serif;
    text-transform: capitalize;
    border: 0;
    height: 2em;
    border-radius: 0.25em;
    margin: 0.25em 0.25em 0.25em 0.25em;
}

.bottom-side form {
    position: relative;
    font-family: sans-serif;
}

.bottom-side input:hover {
    background-color: #55c0f9;
    font-family: sans-serif;
    text-transform: capitalize;
    border: 0;
    height: 2em;
    border-radius: 0.25em;
    margin: 0.25em 0.25em 0.25em 0.25em;
}

.grid {
    background-color: #777777;
}

.grid form {
    padding: 0;
    margin: 0;
    height: inherit;
    width: inherit;
}

.grid input {
    padding: 0;
    margin: 0;
    background-color:transparent;
    color:transparent;
    outline:none;
    text-decoration: none;
    cursor: pointer;
    border:none;
    height: 100%;
    width: 100%;
}

.cell {
    padding: 0;
    margin: 0;
    height: 2em;
    width: 2em;
}

.empty{
    background-color: black;
}

.coord {
    background-color: white;
    font-family: sans-serif;
    text-align: center;
}

.sea {
    background-image: url("../images/sea.png");
    background-size: cover;
}

.missed{
    background-image: url("../images/missed.png");
    background-size: cover;
}

.hit {
    background-image: url('../images/hit.png');
    background-size: cover;
}

/** GRID **/

.a-propros {
    position: absolute;
    margin: 2em 2em 0 2em;
}

#menu {
    position: fixed;
    display: block;
    background: #002f46;
    top: 0;
    right: -14em;
    width: 14em;
    height: 100%;
    z-index: 150;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transition: -moz-transform 0.5s ease;
    -o-transition: -o-transform 0.5s ease;
    transition: transform 0.5s ease;
}
#menu:target {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
#menu ul  {
    list-style: none;
    padding: 0 2em 0 2em;
}
#menu ul > li  {
    border-top: solid 1px rgba(0,0,0,0.33);
    padding-top: 0.5em;
    margin-top: 0.5em;
}
#menu ul > li:first-child{
    border-top: 0;
    padding: 0;
    margin: 0;
}
#menu ul > li > a {
    border: 0;
    color: #d45f31;
    display: block;
    outline: 0;
    font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}


@media screen and (max-width:1280px) {

}

/* Register */
@-webkit-keyframes color_change {
    0%{background: limegreen;}
    33%{background: cyan;}
    66%{background: deeppink;}
    100%{background: crimson;}
}
@-moz-keyframes color_change {
    0%{background: limegreen;}
    33%{background: cyan;}
    66%{background: deeppink;}
    100%{background: crimson;}
}
@-o-keyframes color_change {
    0%{background: limegreen;}
    33%{background: cyan;}
    66%{background: deeppink;}
    100%{background: crimson;}
}
@keyframes color_change {
    0%{background: limegreen;}
    33%{background: cyan;}
    66%{background: deeppink;}
    100%{background: crimson;}
}
.register {
    position: relative;
    display: block;
    background: silver;
    margin: 4em 20% 0 20%;
    padding: 1em;
    /*border: solid 2px crimson;*/
    border-radius: 0.2em;
    font-family: Comic Sans MS, sans-serif;
    -webkit-animation: color_change linear 1s infinite alternate;
    -moz-animation: color_change linear 1s infinite alternate;
    -o-animation: color_change linear 1s infinite alternate;
    animation: color_change linear 1s infinite alternate;
}

.register > span {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

/* Statistiques */

table#tstats {
    width: 100%;
    background-color: #f1f1c1;
}

/* Listing */

table#tlisting {
    width: 100%;
    background-color: #f1f1c1;
}

input#blisting {
    position: relative;
    left : 50%;
    right : 50%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}